<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= blog.title %></title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
<header class="page-head-line"></header>
<nav class="nav-left">
    <header class="user-info-box">
        <div class="avatar-box"><img src="/img/<%= user && user.avatar %>" alt=""></div>
        <p><%= user && user.name %></p>
    </header>
</nav>